.home {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.home-content {
  padding: 0 2rem;
  width: 100%;
  margin: 10px 8%;
}
@media (max-width: 768px) {
  .home-content {
    padding: 0 1rem;
    margin: 8px auto;
  }
}

@media (max-width: 480px) {
  .home-content {
    padding: 0 0.5rem;
    margin: 4px auto;
  }
}
