.table-container {
  margin-top: 2rem;
  overflow-x: auto;
}

.stay-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.stay-table th{
    text-align: center;

}
.stay-table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.stay-table th {
  background-color: #f4f4f4;
}

.actions button {
  margin-right: 0.5rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
button {
  margin: 10px;
  align-items: end;
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #555;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 0.7s linear infinite;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
