.stay-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-right: 1rem;
  max-height: 300px;
}
.recommendations-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  gap: 0.5rem;
}

.arrow {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}
